/*---- GENERAL ----*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
  font-family: 'Barlow', sans-serif;
}

/*---- NAVBAR------*/

.navbar {
  background-color: #006180;

}
.navbarContainer {
  width: 90%!important;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2rem!important;
}

.nameSpan {
  color:#d4a117;
  font-family: 'Lobster', cursive;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  color:#d4a117!important;
}
.navbar p:hover {
  color:#d4a117!important;
}

.cartIconNav {
  margin-left: 4rem;
}
.css-jcn4dz-MuiBadge-badge {
  background-color: #d4a117!important;
}

.css-i4bv87-MuiSvgIcon-root {
  color:#fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.itemDetail {
  margin-top: 5vw;
}

.addToCartButton {

  color: #fff;
  background-color: black;
}

.centerButton {
  margin: 0 auto;
}

/*----- CARD DE PRODUCTOS ---------*/

.MuiGrid-item a {
  text-decoration: none!important;
}
.cardItemHome:hover {
  transform: scale(1.05);
}
/*---DESCRIPCION PRODUCTOS ---*/

.contButtonDetail {
  padding-top: 4rem;
  text-align: center;
}

/*------ CART LIST -------*/
.yourCartTitle{
  font-family: 'Barlow', sans-serif;
  text-align: center;
  margin: 3rem 0;
}
.yourCartTitleRow{
  margin: 3rem ;
  padding-top: 3rem;
}

.cartItemCard {
  margin: 3rem 0;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 8px 8px 6px -6px black;
}

.itemsQtyCart{
  margin-top: 2rem;
}

.cartPrice {
  text-align: center;
  color:green;
}

.purchaseDetailCard{
  padding: 2rem;
  border: 2px solid green;
  border-radius: 3%;
}

.purchaseDetailRows {
  padding-top: 3rem;
}

.purchaseConfirmButton {
  margin-top: 2rem;
  text-align: center;
}

.cartButtons {
  width: 80%;
 padding-left: 20vw;
}

/* ---- FOOTER ----- */
.footer {
  background: #006180;
  position: relative;
  bottom: 0;
  height: 10rem;
  width: 100%;
  max-width: 2600px!important;
  text-align: center;
  margin-top: 8rem;
}

.footerText {
  color:#fff;
  padding-top: 4rem;
  
}

.linkedinLink {
  color: #d4a117!important;
  text-decoration: none!important;
}