body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.letra-blanca {
  color: #fff !important;;
}

/*-------HERO-------*/

.heroImage {
  width: 100vw;
}

/*------GRID PRODUCTOS-----*/

.MuiGrid-container {
  width: 90%!important;
  margin: 0 auto!important;
}

/*----- CONTADOR----*/

.counterCont {
  width: 20vw!important;
  margin-top: 100px;
  background-color: sandybrown;
  padding: 20px 5px 20px 55px;

}
.alCenter {
  text-align: center;
}